# Example

In game 1, three sets of cubes are revealed from the bag (and then put back again). The first set is 3 blue cubes and 4 red cubes; the second set is 1 red cube, 2 green cubes, and 6 blue cubes; the third set is only 2 green cubes.

The Elf would first like to know which games would have been possible if the bag contained only 12 red cubes, 13 green cubes, and 14 blue cubes?

In the example above, games 1, 2, and 5 would have been possible if the bag had been loaded with that configuration. However, game 3 would have been impossible because at one point the Elf showed you 20 red cubes at once; similarly, game 4 would also have been impossible because the Elf showed you 15 blue cubes at once. If you add up the IDs of the games that would have been possible, you get 8.

Determine which games would have been possible if the bag had been loaded with only 12 red cubes, 13 green cubes, and 14 blue cubes. What is the sum of the IDs of those games?

In [42]:
import pandas as pd

In [121]:
puzzle_input = """
7 6 4 2 1
1 2 7 8 9
9 7 6 2 1
1 3 2 4 5
8 6 4 4 1
1 3 6 7 9
"""

In [122]:
split = puzzle_input.strip().split("\n")
# split

In [123]:
nums

[[7, 6, 4, 2, 1],
 [1, 2, 7, 8, 9],
 [9, 7, 6, 2, 1],
 [1, 3, 2, 4, 5],
 [8, 6, 4, 4, 1],
 [1, 3, 6, 7, 9]]

In [124]:
nums = []
for s in split:
    nums.append([int(n) for n in s.split(" ")])

In [125]:
df = pd.DataFrame(nums)
df

   0  1  2  3  4
0  7  6  4  2  1
1  1  2  7  8  9
2  9  7  6  2  1
3  1  3  2  4  5
4  8  6  4  4  1
5  1  3  6  7  9

In [126]:
safe_rows = []

for i, r in df.diff(axis=1).iterrows():
    if {1, 2, 3.0}.issuperset(set(r.dropna())):
        safe_rows.append(i)
    elif {-1, -2, -3}.issuperset(set(r.dropna())):
        safe_rows.append(i)

len(safe_rows)

2

# Part 1

In [26]:
with open("inputs/2.txt") as f:
    big_puzzle_input = f.read()

In [65]:
nums = []
for s in big_puzzle_input.strip().split("\n"):
    nums.append([int(n) for n in s.split(" ")])

In [66]:
df = pd.DataFrame(nums)
df

      0   1   2   3   4     5     6     7
0     1   4   5   8  11  12.0   9.0   NaN
1     7   8   9  10  12  15.0  17.0  17.0
2    17  20  23  25  27  31.0   NaN   NaN
3    55  57  58  61  63  64.0  70.0   NaN
4    39  42  45  43  44   NaN   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  91  89  87  85  82  81.0  78.0   NaN
996  77  79  81  82  85  86.0   NaN   NaN
997  59  61  62  65  67  68.0   NaN   NaN
998  94  93  92  91  90  87.0  85.0  83.0
999  50  52  53  54  56  57.0  58.0  61.0

[1000 rows x 8 columns]

In [106]:
df.diff(axis=1).apply(lambda x: set(x.dropna()), axis=1).value_counts()

{-3.0, -1.0, -2.0}              187
{1.0, 2.0, 3.0}                 178
{2.0, 3.0}                       37
{-1.0, -2.0}                     34
{1.0, 3.0}                       30
                               ...
{2.0, -6.0, -3.0}                 1
{0.0, -2.0, -1.0}                 1
{0.0, -7.0, -3.0, -2.0}           1
{0.0, 3.0, -7.0, -3.0, -1.0}      1
{1.0}                             1
Name: count, Length: 315, dtype: int64

In [110]:
safe_rows = []
rows = []
for i, r in df.diff(axis=1).iterrows():
    if {1, 2, 3.0}.issuperset(set(r.dropna())):
        safe_rows.append(i)
    elif {-1, -2, -3}.issuperset(set(r.dropna())):
        safe_rows.append(i)

len(safe_rows)

549

# Part 2

In [137]:
from collections import Counter

In [135]:
def is_safe(r):
    if r[0] > r[1]:
        r.reverse()
    for i in range(len(r) - 1):
        if not 1 <= r[i + 1] - r[i] <= 3:
            return False
    return True


split = big_puzzle_input.strip().split("\n")
safe = 0
for report in split:
    report = [int(x) for x in report.split()]
    if is_safe(report):
        safe += 1
    else:
        for level in range(len(report)):
            if is_safe(report[:level] + report[level + 1 :]):
                safe += 1
                break
print(safe)

589

In [138]:
df.diff(axis=1).apply(lambda x: Counter(x.dropna()), axis=1)

0             {-1.0: 2, -2.0: 2}
1               {1.0: 3, 5.0: 1}
2    {-2.0: 1, -1.0: 2, -4.0: 1}
3      {2.0: 2, -1.0: 1, 1.0: 1}
4     {-2.0: 2, 0.0: 1, -3.0: 1}
5       {2.0: 2, 3.0: 1, 1.0: 1}
dtype: object

In [139]:
safe_rows = []

for i, r in df.diff(axis=1).iterrows():
    if {1, 2, 3.0}.issuperset(set(r.dropna())):
        safe_rows.append(i)
    elif {-1, -2, -3}.issuperset(set(r.dropna())):
        safe_rows.append(i)


len(safe_rows)

2