# Example

In [1]:
import pandas as pd

In [2]:
puzzle_input = """
7 6 4 2 1
1 2 7 8 9
9 7 6 2 1
1 3 2 4 5
8 6 4 4 1
1 3 6 7 9
"""

In [3]:
split = puzzle_input.strip().split("\n")
# split

In [7]:
nums = []
for s in split:
    nums.append([int(n) for n in s.split(" ")])

In [8]:
df = pd.DataFrame(nums)
df

   0  1  2  3  4
0  7  6  4  2  1
1  1  2  7  8  9
2  9  7  6  2  1
3  1  3  2  4  5
4  8  6  4  4  1
5  1  3  6  7  9

In [9]:
safe_rows = []

for i, r in df.diff(axis=1).iterrows():
    if {1, 2, 3.0}.issuperset(set(r.dropna())):
        safe_rows.append(i)
    elif {-1, -2, -3}.issuperset(set(r.dropna())):
        safe_rows.append(i)

len(safe_rows)

2

# Part 1

In [10]:
with open("inputs/2.txt") as f:
    big_puzzle_input = f.read()

In [11]:
nums = []
for s in big_puzzle_input.strip().split("\n"):
    nums.append([int(n) for n in s.split(" ")])

In [12]:
df = pd.DataFrame(nums)
df

      0   1   2   3   4     5     6     7
0     1   4   5   8  11  12.0   9.0   NaN
1     7   8   9  10  12  15.0  17.0  17.0
2    17  20  23  25  27  31.0   NaN   NaN
3    55  57  58  61  63  64.0  70.0   NaN
4    39  42  45  43  44   NaN   NaN   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  91  89  87  85  82  81.0  78.0   NaN
996  77  79  81  82  85  86.0   NaN   NaN
997  59  61  62  65  67  68.0   NaN   NaN
998  94  93  92  91  90  87.0  85.0  83.0
999  50  52  53  54  56  57.0  58.0  61.0

[1000 rows x 8 columns]

In [13]:
df.diff(axis=1).apply(lambda x: set(x.dropna()), axis=1).value_counts()

{-3.0, -1.0, -2.0}              187
{1.0, 2.0, 3.0}                 178
{2.0, 3.0}                       37
{-1.0, -2.0}                     34
{1.0, 3.0}                       30
                               ...
{2.0, -6.0, -3.0}                 1
{0.0, -2.0, -1.0}                 1
{0.0, -7.0, -3.0, -2.0}           1
{0.0, 3.0, -7.0, -3.0, -1.0}      1
{1.0}                             1
Name: count, Length: 315, dtype: int64

In [14]:
safe_rows = []

for i, r in df.diff(axis=1).iterrows():
    if {1, 2, 3.0}.issuperset(set(r.dropna())):
        safe_rows.append(i)
    elif {-1, -2, -3}.issuperset(set(r.dropna())):
        safe_rows.append(i)

len(safe_rows)

549

# Part 2

In [54]:
def is_safe(r):
    r = r.dropna()
    if r.iloc[0] < 0:
        r = -r

    skip = False
    for n in r:
        if 1 <= n <= 3:
            continue
        elif skip:
            skip = True
            continue
        else:
            return False

    return True

In [55]:
is_safe(r)

True

In [57]:
safe_rows = []

for i, r in df.diff(axis=1).iterrows():
    if is_safe(r):
        safe_rows.append(i)


len(safe_rows)

549

In [58]:
r

0    NaN
1    2.0
2    1.0
3    1.0
4    2.0
5    1.0
6    1.0
7    3.0
Name: 999, dtype: float64

In [59]:
is_safe(r)

True